html body{
  background-color: black;
  font-family: Helvetica;
  justify-content: center;
}

h1{
color: white;
margin-left: 3%;

}
h2{
color: white;
margin-left: 2%;
}
h3{
color: #1a164c;
margin-left: 2%;
}
h4{
color: #7c4ae8;
margin-left: 2%;
}

div{
  color: white;
}
